<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pair Up</title>
    <link rel="stylesheet" href="pairup.css" />
  </head>
  <body>
    <section class="section-getStarted">
      <div class="Page-getStarted">
        <div class="getStarted-textArea">
          <h1 class="header">Hire the best developers, anywhere</h1>
          <p class="getStarted-paragraph">
            <span>Pair Up</span> is the #1 rated technical interview platform
            for teams to test the coding skills of developers and make
            evidence-based hiring decisions.
          </p>
          <a href="#" class="btn btn-getStarted">Get Started</a>
        </div>
        <div class="getStarted-imageArea">
          <img
            class="getStarted-image"
            src="https://www.codility.com/wp-content/uploads/2022/05/Image1_desktop_compressed_2.png"
            alt=""
          />
        </div>
      </div>
      <div class="loginForm hideElement">
        <h3>Sign in to Pair Up</h3>
        <form action="/login" method="post">
          <div>
            <label for="username">Username</label>
            <input
              id="username"
              name="username"
              type="text"
              autocomplete="username"
              required
            />
          </div>
          <div>
            <label for="current-password">Password</label>
            <input
              id="current-password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
            />
          </div>
          <div>
            <button type="submit">Sign in</button>
          </div>
        </form>
        <div class="login-register">
          <p>New to Pair-Up?</p>
          <a href="/register" class="login-aTag">Create an account.</a>
        </div>
      </div>
    </section>
  </body>
  <script type="text/javascript" src="pairup.js"></script>
</html>
