<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collaborative CodeMirror Editor</title>
    <style type="text/css">
      html,
      body,
      #wrapper {
        height: 100%;
        font-family: helvetica, arial, sans-serif;
        overflow: hidden;
      }

      h1 {
        margin: 0;
        padding: 0;
      }

      #wrapper {
        display: flex;
        max-width: 1500px;
        margin: auto;
        flex-direction: column;
        font-family: sans-serif;
      }

      #editor {
        flex: 1;
        overflow: hidden;
      }

      #users {
        list-style: none;
        margin: 0;
      }

      #users li {
        width: 25px;
        height: 25px;
        margin: 2px;
        color: white;
        float: right;
        text-align: center;
        line-height: 25px;
      }

      .CodeMirror {
        height: 100%;
      }

      @keyframes cursorThrob {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }
      }
    </style>
    <link rel="stylesheet" href="pairup.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      type="text/javascript"
      src="/node_modules/codemirror/lib/codemirror.js"
    ></script>
    <script
      type="text/javascript"
      src="/node_modules/codemirror/addon/selection/mark-selection.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="/sharedb-dist/sharedb-client.min.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="/sharedb-dist/ot-text.min.js"
      defer
    ></script>
    <script
      src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"
      defer
    ></script>
    <script
      src="/node_modules/codemirror/addon/mode/loadmode.js"
      defer
    ></script>
    <script
      src="/node_modules/codemirror/addon/edit/matchbrackets.js"
      defer
    ></script>
    <script src="/public/script.js" defer></script>
    <script src="/public/codeMirror.js" defer></script>
    <script src="/public/AV-chat.js" defer></script>
    <link rel="stylesheet" href="/node_modules/codemirror/lib/codemirror.css" />
  </head>
  <body>
    <ul id="users"></ul>
    <div class="section-Main">
      <div class="mainWindow">
        <div class="Window">
          <div class="designWindow">
            <div class="sizeArea">
              <label class="designWindow-Label" for="fontSize">Font Size</label>
              <select id="fontSize" name="fontSize">
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
              </select>
            </div>
            <div class="themeArea">
              <label class="designWindow-Label" for="theme">Theme</label>
              <select id="theme" name="theme">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
              </select>
            </div>
            <div class="languageArea">
              <label class="designWindow-Label" for="language">language</label>
              <select id="language" name="language">
                <option value="clike">C++</option>
                <option value="python">Python</option>
                <option value="clike">Java</option>
                <option value="javaScript">JavaScript</option>
              </select>
            </div>
          </div>
          <div class="codeWindow">
            <textarea>HEY</textarea>
          </div>
        </div>
        <!-- Window End -->
        <div class="videoAndChatBox">
          <!-- Video Call -->
          <div id="video-container">
            <video autoplay id="second-video"></video>
            <video autoplay id="my-video" muted="true"></video>
          </div>
          <!-- Chat room -->
          <div class="panel-body">
            <ul
              class="media-list"
              style="height: 195px; overflow-y: scroll"
              id="chatbox-listMessages"
            ></ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter message"
                id="userMessage"
              />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="sendMessage()"
                >
                  SEND
                </button>
              </span>
            </div>
          </div>
        </div>
        <!-- Video & Chat box end -->
      </div>
      <!-- Main Window END-->
    </div>
  </body>
</html>
