<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pair Up</title>
    <link rel="stylesheet" href="pairup.css" />
  </head>
  <body>
    <section class="section-register">
      <div class="Page-register">
        <div class="register-textArea">
          <h1 class="header">Upgrade Your Tech Hiring Process</h1>
          <p class="getStarted-paragraph">
            Whether you need online code tests to screen thousands of engineers,
            or a flexible way to run tech interviews remotely, our platform will
            help you adapt. Submit this form and we’ll be in touch to discuss
            how you can upgrade your tech hiring process and:
          </p>
        </div>
        <div class="registerForm">
          <h3>Welcome to Pair-Up!</h3>
          <form action="/registerNew" method="POST">
            <div>
              <label for="email" class="label">Enter your email</label>
              <input name="email" id="email" type="email" required />
            </div>
            <div>
              <label for="password" class="label">Create a password</label>
              <input name="password" id="password" type="password" required />
            </div>
            <button class="btn btn-submit">Submit</button>
          </form>
          <hr class="break_before_gAuth" />
          <a href="/auth/google/callback" class="btn btn-submit">
            <div class="img-gAuth_container">
              <img class="img-gAuth" src="../Images/google.png" />
            </div>
            Sign In with Google
          </a>
        </div>
      </div>

      <div class="Logos-Area">
        <h2 class="logos-Header">
          Tested and trusted by the world's best companies
        </h2>
        <div class="logos">
          <ion-icon name="logo-microsoft"></ion-icon>
          <ion-icon name="logo-amazon"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-google"></ion-icon>
          <ion-icon name="logo-paypal"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
    </section>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
