* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background: rgba(0, 100, 0, 0.1) !important; */
}

html {
  /* (10px/16px) *100 */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #333;
  overflow-x: hidden;
  /* outline: 1px solid limegreen !important; */
}

@keyframes movefrombottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.hideElement {
  display: none;
}

.blur {
  filter: blur(3px);
}

.margin-right-sm {
  margin-right: 1rem;
}

.margin-left-sm {
  margin-left: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 9px;
  color: #fff;

  border: none;
}

.header {
  font-size: 5.2rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #333;
  line-height: 1.05;
  margin-bottom: 3rem;
}

.section-getStarted {
  padding: 8rem 0 9.6rem 0;
  background-color: #fdf2e9;
  height: 100vh;
}

.Page-getStarted {
  display: grid;
  max-width: 130rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 3.2rem;
  gap: 9.6rem;
}

.getStarted-image {
  width: 100%;
}

.getStarted-paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
}

.getStarted-paragraph span {
  font-size: 2.4rem;
  color: #f2892c;
}

.btn-getStarted {
  padding: 16px 32px;
  background-color: #fe902f;
  font-size: 2rem;
  margin-top: 2rem;
}

.loginForm {
  background-color: #fdf2e9;
  position: absolute;
  top: 20%;
  left: 37%;
  width: 25%;
  height: 50%;
  padding: 4.8rem;
  border-radius: 9px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  animation: movefrombottom 1s;
  transition: all 0.8s ease;
  perspective: 1000px;
}

label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

h3 {
  color: #333;
  /* line-height: 1.2; */
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  text-align: center;
}

input {
  padding: 1rem;
  margin-bottom: 1.8rem;
  width: 100%;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-login {
  padding: 8px 16px;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  background-color: #fe902f;
  margin-bottom: 2.2rem;
}

.btn-submit {
  padding: 8px 16px;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  background-color: #fe902f;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #ea7f21;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(152, 152, 152, 0.2);
  transform: translateY(-0.3rem);
}

.login-register {
  font-size: 1.4rem;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
}

.login-aTag {
  display: inline-block;
  text-decoration: none;
}

/* REGISTER PAGE */
.section-register {
  padding: 4rem 0 9.6rem 0;
  background-color: #f78f34;
  height: 100vh;
}

.register-textArea .header {
  color: #fff;
}

.register-textArea .getStarted-paragraph {
  color: #fff;
}

.Page-register {
  max-width: 130rem;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 3.2rem;
  gap: 9.6rem;
}

.registerForm {
  background-color: #fdf2e9;
  justify-self: center;
  width: 75%;
  height: 100%;
  padding: 4.8rem;
  border-radius: 9px;
  animation: movefrombottom 1s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.8s ease;
}

/* .registerFrom input {
  width: 10%;
} */

.break_before_gAuth {
  width: 75%;
  margin: auto;
  border: 1px solid #d3d0cc;
}

.img-gAuth_container {
  display: inline-block;
  margin-right: 1rem;
}

.img-gAuth {
  height: 1.6rem;
  width: 1.6rem;
}

.Logos-Area {
  text-align: center;
  margin-top: 20rem;
}

.logos-Header {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2rem;
}

.logos {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.logos ion-icon {
  width: 3.2rem;
  height: 3.2rem;
  filter: brightness(0);
  opacity: 70%;
}

html,
body,
#wrapper {
  height: 100%;
  font-family: helvetica, arial, sans-serif;
  overflow: hidden;
}

/* DashBoard */
.section-dashboard {
  padding: 2rem 2rem;
  margin-top: 50rem;
  background-color: #fcfaf8;
  /* height: 100vh; */
}

/* Main Window */
.section-Main {
  padding: 2rem 2rem;
  background-color: #fcfaf8;
  /* background-color: #f2bf92; */
  height: 100vh;
}

.designWindow {
  display: flex;
  /* height: 10rem; */
  max-width: 100rem;
}

.designWindow-Label {
  text-transform: uppercase;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #333;
  margin-right: 1rem;
}

.sizeArea,
.themeArea,
.languageArea {
  flex-grow: 1;
  text-align: center;
}

.Window {
  display: grid;
  grid-template-rows: 0.2fr 3fr 1fr;
  width: 110rem;
  gap: 1rem;
}

.mainWindow {
  display: flex;
  height: 100%;
  justify-content: space-between;
  gap: 1rem;
}

h1 {
  margin: 0;
  padding: 0;
}

.codeWindow {
  height: 100%;
}

.videoAndChatBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50rem;
}

/* #codeMirror {
  max-height: 60rem;
  max-width: 115rem;
}
#codeMirror textarea {
  min-height: 68rem;
  max-height: 68rem;
  min-width: 100rem; */
/* max-height: 100rem; */
/* max-width: 115rem;
} */

/* .TestCases {
  display: none;
}
.TestCases {
  display: none;
} */
.btn-AddTestcase {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 0px;
  color: #fff;
  border: none;
  padding: 8px 16px;
  background-color: #fe902f;
  font-size: 2rem;
}

.IO-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.IO-textArea-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.IO-textArea {
  /* min-height: 83%; */
  height: 83%;
  /* min-width: 100%; */
  width: 100%;
  resize: none;
}

.run-code {
  position: absolute;
  top: 80%;
  left: 90%;
  z-index: 1;
}

.IO {
  display: flex;
  background-color: #fff;
}

.btn-IO {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background-color: #fe902f;
  font-size: 1.4em;
  border: none;
  cursor: pointer;
  outline: 0.1px solid rgb(189, 189, 189);
  /* transition: 0.3s; */

}

.btn-IO-runCode:hover {
  box-shadow: 0 1rem 2rem rgba(152, 152, 152, 0.2);
  transform: translateY(-0.3rem);
}

.btn-IO-default {
  background-color: #fff;
  color: #fe902f;
}

.loading-Element::after {
  content: "";
  width: 3rem;
  height: 3rem;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  margin: auto;
  border: 5px solid transparent;
  border-top-color: #fe902f;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}


#wrapper {
  display: flex;
  max-width: 1500px;
  margin: auto;
  flex-direction: column;
  font-family: sans-serif;
}

#editor {
  flex: 1;
  overflow: hidden;
}

#users {
  list-style: none;
  margin: 0;
}

#users li {
  width: 25px;
  height: 25px;
  margin: 2px;
  color: white;
  float: right;
  text-align: center;
  line-height: 25px;
}

.media-list {
  font-size: 16px;
}

/* #video-grid {
  grid-auto-rows: 300px;
  width: 100px;
  height: 100px;
  background-color: black;
}
#video-container {
  display: grid; */
/* grid-template-rows: repeat(auto-fill, 300px); */
/* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
} */
/* #video-grid { */
/* display: grid; */
/* grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
} */

#video-container {
  background-color: blue;
}

#video-grid {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template-rows: repeat(2, 1fr);

  row-gap: 1rem;
  align-items: center;
  justify-items: center;
}

video {
  /* height: 250px; */
  outline: 1px solid #fe902f;
  width: 300px;
  /* object-fit: cover; */
}

.btn-chat {
  display: block;
  padding: 6px 12px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 1.8rem;
  background-color: #fe902f;
  /* margin-bottom: 2.2rem; */
}

.input-chat {
  padding: 1rem;
  margin-bottom: 1.2rem;
  width: 100%;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.panel-body {
  background-color: red;
  color: blue;

}


/* #video-grid {
  width: 100px;
  height: 100px;
  object-fit: cover;
} */

/* video {
  width: 100px;
  height: 100px;
  object-fit: cover; */
/* border: 1px solid black; */
/* } */

@keyframes cursorThrob {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}